section {
	opacity: 0;
}

div {
	opacity:0;
}

header{
	opacity:0;
}

#working {
	height: 100px;
	width: 100px;
	background-color: blue;
}


body {
	width: 1080px;
  	background-color: silver;
  	border: 0px black solid;
  	border-radius: 15px;
		opacity: 0;
  }


h2, h6 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 0px;
	color: silver;
	margin-bottom: -25px 0px
}

h6 {
	margin-bottom: +25px 0px;
}
h1 {
	font-family: Tahoma, bold;
	color: black;

}


img {
	height: 170px;
	width: 169.5px;
	box-shadow: rgba(0,0,0,0.05) 10px 10px;

}

a:link, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
}

#content {
	height:600px;
	width:1080px;
	background-size:  100% 100%;

}

#navbar {
	margin-left: 35%;
	margin-top: -30px;
	margin: 0 auto;
	z-index: 1;
	position: relative;
}

#navbar li {

	border: 1px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #000000;
	border-radius: 5px 5px;
	background-color: #baaaca;
	display: inline;

	padding: 5px;
}

#header {
	position: relative;
	top: -20px;
	background-color: rgba(144,144,144,0.8);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#tab {
	position: relative;
	top: 0px;
	background-color: rgba(144,144,144,0.9);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

ul{
	list-style-type: none;

}


#left{
	float: left;
	display: inline;
}

p {
	font-family: Tahoma;
	font-size: 1em;
}

#right{
	width: 45%;

}

table {
	border: black .03px solid;
	background-color: gray;
	margin: 0 auto;
	margin-right: 0px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

td {
	height: 75px;
	width: 75px;
}

td img {
	height: 100px;
	width: 115.01562111px;
	box-shadow: none;
}

th {
	font-family: Verdana;
	font-size: 1em;
	font-weight: normal;
	color: #3c4543
}

tr {
	width:1080;
}

#bottom_left{
	border-bottom-left-radius: 15px;
}

#bottom_right{
	border-bottom-right-radius: 15px;
}

#footer{
	clear: both;
	position: relative;

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	background-color: #3c4543;
}

#button{
	border: 2px solid #000000;
	float:left;
	position: relative;
	left: 229px;
	bottom: -12px;
	border-radius: 5px;
	background-color: #baccca;
	height: 50px;
	width: 150px;

}

#button p{
	position: relative;
	bottom: 10px;
	font-size: 0.8em;
	color: #333333;
	text-align: center;
}

#info {
    font-family: Serif;

}

#Basic {width: 100px;}

.bold{
	font-family: tahoma;
	font-weight: bold;
	font-size: 1.2em;
	font-variant: small-caps;
	color: black;
}

ul img {
	width: 300px;
}

.mod {
	height: 0px;
	width: 0px;
}
